<div class="homecontainer">
    <div class="menu">
     <p routerLink="/home">AVailable Jobs</p>
     <p routerLink="/dc">Direct Contracts</p>
     <p routerLink="/mybid">Your Bids</p>
     <p routerLink="/assigned">Jobs Assigned </p>
     <p routerLink="/reviews">Jobs In Review</p>
     <p routerLink="/revisions">Under Revision</p>
     <p routerLink="/completed">Completed</p>
     <p routerLink="/broadcasts">Broadcast</p>
     <p routerLink="/faqs">FAQs</p>

        <!-- <h3>Available Jobs</h3>
        <h3> Your Live Bids</h3>
        <h3>Competed Jobs</h3>
        <h3> Jobs Under Review</h3>
        <h3> Disputed Jobs </h3>
        <p>Transactions </p>
        <h3>Pwithdrawbtnrofile</h3>
        <h3>Logout</h3> -->
    </div>
    <div class="wallettable">
        <div class="wallet">
        <p style="text-align: start;">Account balance : 5000 $</p>
        <p>Available From Date : 2/4/2023</p>
        <button class="withdrawbtn">Withdraw Funds </button>
    </div> 
<table>
    <tr>
    <th>Client</th>
    <th>Order ID</th>
    <th>Subject</th>
    <th>Pages</th>
    <th>Budget</th>
    <th>Deadline</th>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>
<tr>
    <td>Simon muturi</td>
    <td>1</td>
    <td>Mathematics</td>
    <td>5</td>
    <td>3$</td>
    <td>30/3/2023</td>
</tr>

</table>
</div>
</div>