<div class="consistent">
    <div class="menu">
        <p routerLink="/home">AVailable Jobs</p>
        <p routerLink="/dc">Direct Contracts</p>
        <p routerLink="/mybid">Your Bids</p>
        <p routerLink="/assigned">Jobs Assigned </p>
        <p routerLink="/reviews">Jobs In Review</p>
        <p routerLink="/revisions">Under Revision</p>
        <p routerLink="/completed">Completed</p>
        <p routerLink="/broadcasts">Broadcast</p>
        <p routerLink="/faqs">FAQs</p>
    </div>
    
        <div class="bod" >           <p>1. Payment Paused?!</p> 
<small>When employers load cash to their wallets, that amount is deposited in employers wallet, what is called by Safaricom, a C2B account. When they pay the writers, that amount is transferred to a B2C account, but just for statistics when in real, their funds is still in their account of C2B. 
    For writers to withdraw the paid amount, the admin has to authorize a transfer of funds from the employers C2B to writers wallet of B2C. Now, the system pauses when that authorization has not been initiated by the Admin or Safaricom is delaying in making the transfers. 
    This is a normal occurrence and most times can be sorted immediately. No need for new writers or any writer who has not encountered that error to tense. Just raise it with support and it willl be sorted, asap.</small> 
    
    <small>
    </small>
        </div>
    </div>