<div class="consistent">
    <div class="menu">
        <p routerLink="/home">AVailable Jobs</p>
        <p routerLink="/dc">Direct Contracts</p>
        <p routerLink="/mybid">Your Bids</p>
        <p routerLink="/assigned">Jobs Assigned </p>
        <p routerLink="/reviews">Jobs In Review</p>
        <p routerLink="/revisions">Under Revision</p>
        <p routerLink="/completed">Completed</p>
        <p routerLink="/broadcasts">Broadcast</p>
        <p routerLink="/faqs">FAQs</p>
   
    </div>
    
        <table>
            <tr>
            <th>Client</th>
            <th>Order ID</th>
            <th>Subject</th>
            <th>Pages</th>
            <th>Budget</th>
            <th>Deadline</th>
        </tr>
        <tr>
            <td>Simon muturi</td>
            <td>1</td>
            <td>Mathematics</td>
            <td>5</td>
            <td>3$</td>
            <td>30/3/2023</td>
        </tr>
        <tr>
            <td>Simon muturi</td>
            <td>1</td>
            <td>Mathematics</td>
            <td>5</td>
            <td>3$</td>
            <td>30/3/2023</td>
        </tr>
        <tr>
            <td>Simon muturi</td>
            <td>1</td>
            <td>Mathematics</td>
            <td>5</td>
            <td>3$</td>
            <td>30/3/2023</td>
        </tr>
        </table>
    </div>