<div class="header">

    <div class="left"><img routerLink="/home" src="https://media.licdn.com/dms/image/D4D22AQGwsvnDT4iUpQ/feedshare-shrink_800/0/1680021479679?e=1683158400&v=beta&t=4Ma8lfd7x0dSx8p-l2GYNgo1Ik7-TgqZ8RIKJMPH4LM" alt="error">
        <h4 routerLink="/home">Let's Write</h4>
    </div>

    <div class="right">
      <a href="" routerLink="/home" >Home</a>
      <a href="" routerLink="/about">About</a>
      <a href="" class="loginbtn" routerLink="/login">login</a>
      <a href="" [hidden]="true" class="profilebtn">Profile</a>
    
    </div>

</div>