<div class="header">

    <div class="left"><img routerLink="/home" src="https://github.com/Simoh8/Writer-sOasis.com/blob/first/WritersOasisFrontend/src/assets/Screenshot%20from%202023-03-30%2017-09-05.png?raw=true" alt="error">
        <h4 routerLink="/home">LET US DO IT</h4>
    </div>

    <div class="right">
      <a href="" routerLink="/home" >Home</a>
      <a href="" routerLink="/about">About</a>
      <a href="" class="loginbtn" routerLink="/login">login</a>
      <a href="" [hidden]="true" class="profilebtn">Profile</a>
    
    </div>

</div>