footer {
    position: relative;
    bottom: 0%;
    font-size: small;
    color: rgb(111, 111, 241);
    align-items: center;
    justify-content: center;

}

h4 {
    width: fit-content;
    margin: auto;


}